---
const { palabra1, palabra2 } = Astro.props;
---

<h2
  class="text-3xl  md:text-4xl lg:text-5xl face font-bold text-center mb-3 text-stone-800"
>
  {palabra1} <span class="text-verde">{palabra2}</span>
</h2>
<div class="w-[200px] mx-auto mb-12 h-1 bg-neonGreen"></div>
